@{
    ViewBag.Title = ":: Home";
}

<p class="error">NOTE: Content for this site is still being written, so some links may be broken, and some content may be partial or missing</p>

<h2>What is this?</h2>
<p>This is the home of HebMorph, an open-source project dedicated to perfecting Hebrew search capabilities. In here you will find all content related to the project and other useful material.</p>
<p>There is also a nice sample search facility built on top of Lucene where you can execute searches with HebMorph, and compare its relevance performance with Lucene's default. For some corpora you can even compare HebMorph to Google search.</p>
<p>New to HebMorph? <a href="http://hebmorph.code972.com/pages/introduction">Click here to get started.</a></p>

<div class="rtlContainer">
<h2>ובעברית...</h2>
<p>HebMorph הוא פרוייקט ייחודי בקוד פתוח אשר שם לו למטרה לשפר את יכולות אחזור הטקסט העברי הממוחשב. מנועי חיפוש מודרניים יעילים מאד עבור שפות לועזיות,
אך בכל הקשור לשפה העברית הם אינם באמת מספקים את הסחורה. מטרתנו היא לפתח כלי חיפוש שיתממשקו עם מנועי חיפוש מובילים בשוק ויאפשרו חיפוש
עברי יעיל ואיכותי. כדי להגיע לשם, אנחנו משקיעים גם בפיתוח כלי מדידה מתקדמים.</p>
<p>כל החומר הקיים באתר זה (באנגלית) מספק מידע מקיף על הפרוייקט, הבעיות איתן הוא מנסה להתמודד, דרכי הפעולה השונות,
והתכנון להמשך הדרך.</p>
<p>ניתן להתנסות בחיפוש עברי על מגוון קורפוסים, עם וללא שימוש ב-HebMorph, באמצעות טופס החיפוש שמימין.</p>
</div>